<!-- HERO SECTION -->
<section
  class="hero"
  style="background-image: url('/assets/images/banners/home-hero.png')"
>
  <div class="hero-content">
    <h1>Salon-Quality Nails<br />at Home</h1>
    <p>Press-on nails & trendy stickers</p>

    <!-- Shared WhatsApp Button -->
    <app-whatsapp-button label="Order on WhatsApp"></app-whatsapp-button>
  </div>
</section>

<!-- CATEGORY SECTION -->
<section class="categories">
  <h2>Shop by Category</h2>

  <div class="category-grid">
    <a routerLink="/extensions" class="category-card">
      <img
        src="../../../assets/images/products/Extensions/GlossyPink1.png"
      />
      <span>Nail Extensions</span>
    </a>

    <a routerLink="/stickers" class="category-card">
      <img
        src="../../../assets/images/products/Extensions/RoseGold.png"
      />
      <span>Nail Stickers</span>
    </a>
  </div>
</section>

<!-- WHY US -->
<section class="why-us">
  <div class="why-item">💅 Salon Quality</div>
  <div class="why-item">🚚 Pan India Delivery</div>
  <div class="why-item">💬 Easy WhatsApp Order</div>
</section>
